# IDE, editors
*.iml
.*.swp
.idea/
codealike.json
reports/
.project
.settings/
*.gpj

strace*
nohup
Java4TheKids/

# java
*.class
*.jar
*.war
*.ear

# maven
target/

# tests garbage
*.log

# archives
*.gz
*.zip
