# IDE, editors
*.iml
.*.swp
.idea/
codealike.json
reports/
.project
.settings/
*.gpj
.classpath

strace*
nohup
Java4TheKids/

# java
*.class
*.jar
*.war
*.ear

# maven
target/

# tests garbage
*.log

# archives
*.gz
*.zip
/java-version/nbactions-sunjdk8.xml
/java-with-libs/nbactions-sunjdk8.xml
/java-with-libs/nb-configuration.xml
/nbactions-sunjdk8.xml